.App {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0a1929;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 80vh;
  padding: 20px;

  border: 1px solid grey;

  font-size: 20px;
  color: #68747f;
}

.todoForm {
  display: flex;
  justify-content: space-around;

  width: 400px;
}

input {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

button {
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin: 0 5px;

  background-color: rgb(231, 88, 36);

  font-weight: bold;
  box-shadow: 1.5px 1.5px rgba(77, 77, 77, 0.253);
}

.allTodos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.singleTodo {
  border-radius: 50px;
  margin: 10px 0;
  background-color: #5dadf8;
  padding: 10px 20px;

  display: flex;
  width: 400px;

  align-items: center;
}

.todoText{
  flex: 1;

  color: #0a1929;
}
